/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
       @apply text-center md:text-left font-bold text-4xl text-gray-800 md:text-5xl
    }
    h2 {
        @apply text-center md:text-left font-bold text-gray-800 text-3xl md:text-4xl
    }
    h3 {
        @apply text-center font-bold text-xl text-gray-800 md:text-2xl
    }
}
@layer components {
    .experience-dot {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 2px solid #004276;
        margin-right: 4px;
        display: inline-block;
    }
    .section-header {
        @apply max-w-prose mx-auto md:mx-0 md:flex md:flex-col md:justify-center px-8
    }
    .subheading {
        @apply text-center md:text-left mt-4
    }
    .hero-circle {
        background: transparent linear-gradient(180deg, #01AEDE 0%, #80D0C7 100%) 0% 0% no-repeat padding-box;
        z-index: -1;
        @apply
        md:absolute
        xl:h-800 xl:w-800 xl:-top-200 xl:-right-200
        lg:h-700 lg:w-700 lg:-top-50 lg:-right-100
        md:h-650 md:w-650 md:-top-50 md:-right-100
        h-500 w-500
        absolute rounded-full
    }
}